html
  head
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.deep_orange-red.min.css")
    link(rel="stylesheet" href="/styles/style.css")
    block head
      title Treehacks Commit Log
  body
    .demo-card-wide.mdl-card.mdl-shadow--2dp
      .mdl-card__title
        h2.mdl-card__title-text Treehacks Commit Log
      block card
      a#bottom.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent