extends ./master.jade

block head
  title Treehacks Commit Log - Register

block card
  .mdl-card__supporting-text
    | Register to have your commits shown on the big screen!
  .mdl-card__actions.mdl-card--border
    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href=registerURL)
      | Register